<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Tests/bootstrap.php" colors="true">
	<php>
		<!-- <server name="SYMFONY" value="../../../vendor/symfony/src" /> -->
	</php>
	<testsuites>
		<testsuite name="ABBundle">
			<directory suffix="Test.php">./Tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
